@import url('https://fonts.cdnfonts.com/css/neoteric');

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #F7F7F7;
  height: 100vh;
  width: 100vw;
}

.avatar-container .loader {
    max-inline-size: 100%;
}

.avatar-container .title-container {
    h1 {
      color: #393E46;
      font-size: 40px;
    }
  }

.avatar-container .avatars {
    display: flex;
    gap: 2rem;
}

.avatar-container .avatars .avatar {
      border: 0.4rem solid transparent;
      padding: 0.4rem;
      border-radius: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease-in-out;
      img {
        height: 6rem;
        transition: 0.5s ease-in-out;
      }
    }

.avatar-container .avatars .selected {
    border: 0.4rem solid #929AAB;
}

.avatar-container .submit-btn {
    background-color: #393E46;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'NEOTERIC', sans-serif;
}

/* .avatar-container .submit-btn:hover {
    background-color: #4e0eff;
} */

.avatar-container span {
    color: #393E46;
    text-transform: uppercase;
    font-family: 'NEOTERIC', sans-serif;
    font-weight: bolder;  
}

.avatar-container  span a {
    color: #393E46;
    font-weight: bolder;
    cursor: pointer;
}

.avatar-container  span a:hover {
    text-decoration: underline;
    font-weight: bold;
}
  