.chat-container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  overflow: hidden;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chat-container {
    grid-template-rows: 15% 70% 15%;
  }
}

.chat-container .chat-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 0 2rem;
}

.chat-container .chat-header .user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-container .chat-header .user-details .avatar img {
  height: 3rem;
}

.chat-container .chat-header .user-details .username h3 {
  color: black;
  font-size: 25px;
}

.chat-container .chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.chat-container .chat-messages::-webkit-scrollbar {
  width: 0.2rem;
}

.chat-container .chat-messages::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}

/* Message styles */
.chat-container .chat-messages .message {
  display: flex;
  align-items: center;
}

.chat-container .chat-messages .message .content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: #d1d1d1;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chat-container .chat-messages .message .content {
    max-width: 70%;
  }
}

.chat-container .chat-messages .sended {
  justify-content: flex-end;
}

.chat-container .chat-messages .sended .content {
  background-color: #4f04ff21;
}

/* Received message styles */
.chat-container .chat-messages .recieved {
  justify-content: flex-start;
}

.chat-container .chat-messages .recieved .content {
  background-color: #9900ff20;
}
